.todo-item{
    color: blue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 23px;
}
.btn1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    font-size: 15px;
    background-color: rgb(96, 93, 93);
    box-shadow: 1px 1px 7px 1px;
}
.btn1:hover{
  color: red;
  background-color: blue;
  border-radius: 10px 10px;
  box-shadow: 1px 1px 7px 1px rgb(0, 195, 255);
}